body {
    background-color: #F4F4F4;
    font-family: Arial, sans-serif;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #7C7C7C;
  }
  
  .menu-item {
    padding: 15px;
    background-color: #F4F4F4;
    border-bottom: 1px solid #7C7C7C;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .menu-item:hover {
    background-color: #E4E4E4;
  }
  .menu-item img {
    transition: opacity 0.3s; 
  }
  .menu-item:hover img {
    content: url("flecha_activa.png"); 
  }
  